.heading{
    width:100%;
    height:6svh;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.heading h2{
    color:white

}

body{
    width:98%;
    height: 90%;
    background-image: url('./images/game_background.jpg');
}
.blackhole{
    background: black;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    box-shadow: 0 0 1rem 1rem rgb(206, 64, 29);
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.planet{
    position: absolute;
    border-radius: 50%;
    height:4rem;
    width:4rem;

}

#sinking{
    animation : sink linear 3s forwards;    
}
@keyframes sink{
    100%{
        height:0;
        width:0;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        background-color: black;
        box-shadow: 0 0 0 0 black;
    }
}


#backtoplacep1{
    animation : p1 linear 3s forwards;
}
#backtoplacep2{
    animation : p2 linear 3s forwards;
}
#backtoplacep3{
    animation : p3 linear 3s forwards;
}
#backtoplacep4{
    animation : p4 linear 3s forwards;
}
#backtoplacep5{
    animation : p5 linear 3s forwards;
}

@keyframes p1{
    0%{
        height:0;
        width:0;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        background-color: black;
        box-shadow: 0 0 0 0 black;
    }
100%{
    top: 10%;
    left:20%;
    position: absolute;
}
}

@keyframes p2{
    0%{
        height:0;
        width:0;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        background-color: black;
        box-shadow: 0 0 0 0 black;
    }
    100%{
        top: 10%;
        left:60%;
    }
}

@keyframes p3{
    0%{
        height:0;
        width:0;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        background-color: black;
        box-shadow: 0 0 0 0 black;
    }
    100%{
        top: 30%;
        left:30%;
    }
}
@keyframes p4{
    0%{
        height:0;
        width:0;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        background-color: black;
        box-shadow: 0 0 0 0 black;
    }
    100%{
        top: 60%;
    left:70%;
    }
}
@keyframes p5{
    0%{
        height:0;
        width:0;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        background-color: black;
        box-shadow: 0 0 0 0 black;
    }
    100%{
        top: 80%;
        left:50%;
    }
}

.planet1{
    top: 10%;
    left:20%;
    background:blue;
    /* box-shadow:0 0 0.7rem 0.7rem blue; */
    box-shadow: 1px 1px 15px 2px #7479bb;
    background-image: url(./images/earth1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.planet2{
    top: 10%;
    left:60%;
    background-color: orange;
    /* box-shadow:0 0 0.7rem 0.7rem orange; */
    box-shadow: 1px 1px 15px 2px rgb(255, 166, 0);
    background-image: url(./images/sun1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.planet3{
    top: 30%;
    left:30%;
    background-color: red;
    box-shadow: 1px 1px 15px 2px rgb(181, 186, 184);
    background-image: url(./images/moon1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.planet4{
    top: 60%;
    left:70%;
    background-color: brown;
    box-shadow: 1px 1px 15px 2px rgb(124, 125, 125);
    background-image: url(./images/saturn1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.planet5{
    top: 80%;
    left:50%;
    background-color: aquamarine;
    box-shadow: 1px 1px 15px 2px aquamarine;
    background-image: url(./images/neptune1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
body button{
    width:100px;
    height:40px;
    border-radius: 12px;
}
.onButton{
    position: absolute;
    bottom:5%;
    left: 5%;
}
.offButton{
    position: absolute;
    bottom:5%;
    right: 5%;
}

@media screen and (max-width:450px) {
    body button{
        width: 80px;
        height: 30px;
    }
    .planet{
        width: 3rem;
        height: 3rem;
    }
}


